body {
  font-family: arial,sans-serif;
}
.head {
  text-align: right;
  min-width: 231px;
  font-size: 13px;
  padding-right: 30px;
}
.topLnk {
  color: #000;
  opacity: 0.87;
  text-decoration: none;
  padding-right: 15px;
}
.topLnk:hover {
  text-decoration: underline;
  opacity: 0.75;
}
.dotsLnk {
  background-image: url(pictures/pics.png);
  background-position: -132px -38px;
  opacity: .55;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.dotsLnk:hover {
  opacity: 1;
}
.enterLnk {
  margin: 0 0 0 15px;
  vertical-align: middle;
  color: #fff;
  cursor: default;
  text-decoration: none;
  border: 1px solid #4285f4;
  font-weight: bold;
  background: #4285f4;
  height: 28px;
  padding: 6px 12px;
  border-radius: 2px;
  width:  39.6875px;
}
.enterLnk:hover {
  box-shadow:0 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #c6c6c6;
}
.logo {
  margin-bottom: 20px;
}
.srchBorder {
  border: 1px solid #dfe1e5;
  height: 44px;
  width: 582px;
  border-radius: 24px;
}
.srchPanel {
  height: 39px;
  display: flex;
  padding: 5px 8px 0 16px;
  align-items: flex-start;
}
.srchIcon {
  margin: auto 0;
  padding-right: 13px;
}
 .srchForm {
   height: 32px;
   margin: 0 0 3px 0;
   border: none;
   outline: none;
   font-size: 16px;
   flex:auto;
 }
.micPic {
  margin-top: 4px;
  padding: 0 8px;
}
.screenKeyboardPic {
  margin-top: 4px;
  padding: 0 8px;
}
.underScrhPanel {
  padding-top: 18px;
  height: 58px;
}
.buttons {
  line-height: 27px;
  height: 36px;
  background-color: #f2f2f2;
  color: #5F6368;
  font-size: 14px;
  padding: 0 16px;
  margin: 11px 4px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  user-select:none;
}
.buttons:hover {
  box-shadow:0 1px 1px rgba(0,0,0,0.1);
  background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-color:#f8f8f8;
  border:1px solid #c6c6c6;
  color:#222;
}
.footer {
  background: #f2f2f2;
  line-height: 40px;
  border-top: 1px solid #e4e4e4;
  font-size: 14px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
.country {
  text-align: left;
  color: #5f6368;
  padding-left: 30px;
  border-bottom: 1px solid #e4e4e4;
  display: block;
}
.rightBot {
  float: right;
  white-space: nowrap;
  margin-right: 30px;
  line-height: 40px;
}
.footerLnks {
  color: #5f6368;
  padding-left: 27px;
  text-decoration: none;
}
.footerLnks:hover {
  text-decoration: underline;
}
.hiddenMenu {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 27px;
  margin-top: 40px;
  width: 340px;
  max-height: 468px;
  z-index: 1;
  visibility: hidden;
}
.showedMenu {
  visibility: visible;
}
.borderHdnMenu {
  background: #fff;
  box-sizing: border-box;
  height: 100%;
  margin: 3px 6px 9px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.30), 0 2px 6px 2px rgba(60,64,67,.15);
}
.servicesList {
  padding: 17px 0 20px 12px;
  margin: 0;
}
.service {
  display: inline-block;
  height: 98px;
  width: 86px;
  padding: 1px 7px 1px 7px;
}
a.tile {
  border-radius: 8px;
  margin: 8px 2px;
  outline: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 84px;
  text-align: center;
}
a.tile:hover {
  background-color: #f6fafe;
}
span.picTile {
  display: inline-block;
  height: 64px;
  vertical-align: top;
  width: 64px;
  background-image: url(pictures/hdnMenuIcons.png);
  background-size: 64px 2824px;
}
span.textTile {
  color: #404040;
  font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.hdnMenuHr {
  border-bottom: 1px solid #e8eaed;
  display: block;
  left: 0;
  position: relative;
  width: 100%;
}
